@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Raleway", "Sans serif";
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/*Header*/
@media screen and (min-width: 600px) {
  .header {
    display: flex;
    align-items: center;
    margin: 0 30px;
    padding-bottom: 12px;
  }
  .header__logo {
    margin: 0;
    order: 1;
  }
  .header__nav {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    order: 2;
  }
  .header__nav__link {
    border-top: 3px solid #0065FC;
    padding: 30px;
    color: #0065FC;
    font-size: 18px;
  }
  .header__nav__linkLink {
    border-top: 3px solid transparent;
    padding: 30px;
    font-size: 18px;
  }
  .header__nav__linkLink:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
  }
  .header__signup {
    order: 3;
    border-top: 3px solid transparent;
    padding: 30px;
    margin-right: 24px;
    color: #0065FC;
    font-weight: bold;
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 32px;
    height: 130px;
  }
  .header__logo {
    margin-left: 20px;
    order: 1;
  }
  .header__nav {
    display: flex;
    width: 100%;
    font-weight: 500;
    order: 3;
  }
  .header__nav > *:nth-child(1) {
    flex: 1 1 50%;
  }
  .header__nav > *:nth-child(2) {
    flex: 1 1 50%;
  }
  .header__nav__link {
    border-bottom: 3px solid #0065FC;
    padding: 30px;
    color: #0065FC;
  }
  .header__nav__linkLink {
    border-top: 3px solid transparent;
    padding: 30px;
  }
  .header__nav__linkLink:hover {
    color: #0065FC;
    border-bottom: 3px solid #0065FC;
  }
  .header__signup {
    order: 2;
    border-top: 3px solid transparent;
    padding: 30px;
    color: #0065FC;
    font-weight: bold;
    font-size: 18px;
  }
}

/*Main*/
/*main-header*/
.main__header {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 600px) {
  .main__header {
    margin: 0 20px;
  }
}
@media screen and (min-width: 600px) {
  .main__header {
    margin: 0 30px;
  }
}
.main__header__title {
  margin-top: 20px;
  margin-bottom: 0px;
}
.main__header__paragraph {
  margin: 16px 0;
}

/*recherche*/
.search {
  display: flex;
  margin-left: 30px;
  margin-bottom: 32px;
  padding: 0;
  flex: 1;
}
@media screen and (max-width: 600px) {
  .search {
    margin-left: 20px;
  }
}
@media screen and (min-width: 600px) {
  .search {
    margin-left: 30px;
  }
}

.search__form {
  display: flex;
  align-items: center;
  width: 421px;
  height: 52px;
}
@media screen and (max-width: 350px) {
  .search__form {
    margin-right: 21px;
  }
}
@media screen and (max-width: 600px) {
  .search__form {
    margin-right: 21px;
  }
}
.search__form__icon {
  border-radius: 16px 0 0 16px;
  background-color: #F2F2F2;
  width: 52px;
  height: 100%;
}
.search__form__icon__map {
  padding: 16px 20px;
}
.search__form__input {
  flex: 1;
  width: 236px;
  height: 100%;
  border: 1px solid #afa1a1;
  padding-left: 20px;
  font-weight: bold;
  font-size: 17px;
}
@media screen and (max-width: 350px) {
  .search__form__input {
    width: 150px;
    padding-left: 3px;
  }
}
.search__form__sendInput {
  height: 100%;
  width: 136px;
  border: 1px solid #0065FC;
  background-color: #0065FC;
  border-radius: 0 16px 16px 0;
  font-weight: bold;
  font-size: 17px;
  color: white;
  padding: 0;
}
@media screen and (max-width: 600px) {
  .search__form__sendInput {
    width: 52px;
    border-radius: 16px;
    margin-left: -12px;
  }
}
.search__form__sendInput__text {
  padding: 0;
}
@media screen and (max-width: 600px) {
  .search__form__sendInput__text {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  .search__form__sendInput__icon {
    display: none !important;
  }
}
@media screen and (max-width: 600px) {
  .search__form__sendInput__icon {
    display: block;
    color: white;
  }
}

/*filtres*/
.filters {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-bottom: 6px;
}
@media screen and (max-width: 600px) {
  .filters {
    margin-left: 20px;
  }
}
@media screen and (min-width: 600px) {
  .filters {
    margin-left: 30px;
  }
}
.filters__title {
  margin: 16px 30px 16px 0;
}
@media screen and (max-width: 600px) {
  .filters__title {
    width: 100%;
  }
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  height: 48px;
  border-radius: 32px;
  margin-right: 26px;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #dfdcdc;
  cursor: pointer;
}
.filter:hover {
  background-color: #fafcfd;
  transform: scale(1.015);
}
@media screen and (max-width: 600px) {
  .filter {
    margin-bottom: 16px;
  }
}
.filter__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #e2f1f5;
  height: 48px;
  width: 48px;
  border-radius: 100%;
  border: 2px solid #e2f1f5;
  margin-left: -2px;
}
.filter__icons__icon {
  color: #0065FC;
}
.filter__text {
  padding: 16px;
  margin: 0;
}

.result {
  display: flex;
  align-items: center;
  margin: 30px;
  padding-bottom: 10px;
}
@media screen and (max-width: 600px) {
  .result {
    margin: 30px 20px;
  }
}
@media screen and (min-width: 600px) {
  .result {
    margin: 30px;
  }
}
.result__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  min-height: 32px;
  min-width: 32px;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
  margin-right: 12px;
}
.result__icon {
  align-items: center;
  color: #0065FC;
  margin: 0;
}
.result__text {
  margin: 12px;
}

/*hébergement-à-Marseille*/
.Hosting {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 30px;
  row-gap: 32px;
  background-color: white;
  padding: 0 30px 32px;
  border-radius: 23px;
  max-width: 100%;
  height: 100%;
}
@media (max-width: 1205px) {
  .Hosting {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  .Hosting {
    grid-template-columns: 1fr;
    padding: 0 0 32px;
  }
}
@media (max-width: 1025px) {
  .Hosting {
    grid-template-columns: 1fr;
  }
}

.hosting {
  display: grid;
  background-color: #F2F2F2;
  box-sizing: border-box;
  padding: 0 36px 36px;
  border-radius: 23px;
  column-gap: 30px;
  row-gap: 30px;
}
@media (max-width: 1205px) {
  .hosting {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1025px) {
  .hosting {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1025px) and (min-width: 600px) {
  .hosting {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .hosting {
    grid-template-columns: 1fr;
    background-color: white;
    padding: 0 20px 36px;
    row-gap: 16px;
  }
}
.hosting__title {
  grid-column: 1/-1;
}
.hosting__card {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: white;
  transition-duration: 0.1s;
  cursor: pointer;
  border-radius: 16px;
  padding: 6px;
  transition-duration: 0.1s;
  box-shadow: 0 0 16px #0000002e;
  box-sizing: border-box;
}
.hosting__card:hover {
  transform: scale(1.02);
}
.hosting__card__Img {
  position: relative;
  display: flex;
  width: 100%;
  height: 116px;
}
.hosting__card__img {
  position: absolute;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
  width: 100%;
  height: 100%;
}
.hosting__card__title {
  margin: 12px 10px;
}
.hosting__card__paragraph {
  margin: 0 10px 10px;
}
.hosting__card__icons {
  margin: 0 10px 10px;
}
.hosting__card__icon {
  color: #0065FC;
}
.hosting__card__iconicon {
  color: #d9d9d9;
}
.hosting__seeMore {
  margin-bottom: 10px;
  font-weight: bolder;
}

/*Les-plus-populaires*/
.mostPopular {
  display: grid;
  align-items: start;
  box-sizing: border-box;
  background-color: #F2F2F2;
}
@media (min-width: 1205px) {
  .mostPopular {
    grid-template-rows: auto repeat(3, 1fr);
    padding: 0 42px 32px 36px;
    border-radius: 23px;
    row-gap: 30px;
  }
}
@media (max-width: 1205px) and (min-width: 600px) {
  .mostPopular {
    grid-template-rows: auto repeat(3, 200px);
    padding: 0 42px 32px 36px;
    border-radius: 23px;
    row-gap: 30px;
  }
}
@media (max-width: 600px) {
  .mostPopular {
    grid-template-rows: auto repeat(3, 200px);
    grid-row-start: 1;
    padding: 22px 20px 36px 20px;
    row-gap: 16px;
    border-radius: 0;
  }
}
.mostPopular__title {
  display: flex;
  justify-content: space-between;
}
.mostPopular__Cards {
  background-color: white;
  border-radius: 20px;
  transition-duration: 0.1s;
  cursor: pointer;
  height: 100%;
  width: 100%;
  padding: 6px;
  box-shadow: 0 0 16px #0000002e;
  box-sizing: border-box;
}
.mostPopular__Cards:hover {
  transform: scale(1.02);
}
.mostPopular__Card {
  position: relative;
  display: flex;
  height: 100%;
}
.mostPopular__Card__Img {
  position: relative;
  height: 100%;
  width: 40%;
  max-width: 40%;
  flex: 1;
}
.mostPopular__Card__Img__img {
  position: absolute;
  object-fit: cover;
  border-radius: 12px 0 0 12px;
  height: 100%;
  width: 100%;
}
.mostPopular__text {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.mostPopular__text > *:nth-child(1) {
  flex: 1 1 90%;
}
.mostPopular__text > *:nth-child(2) {
  flex: 1 1 10%;
}
.mostPopular__text__text__title {
  margin: 14px 0 0 20px;
}
.mostPopular__text__text__paragraph {
  margin: 10px 0 0 20px;
}
.mostPopular__text__icons {
  margin: 0 0 14px 20px;
  margin-bottom: 14px;
}
.mostPopular__text__icons__icon {
  color: #0065FC;
}
.mostPopular__text__icons__iconicon {
  color: #d9d9d9 !important;
}

/*acativités*/
.activities__title {
  margin-top: 0;
  margin-bottom: 30px;
}
@media (max-width: 600px) {
  .activities {
    padding: 0 20px 50px;
  }
}
@media (min-width: 1205px) {
  .activities {
    padding: 32px 30px 0 30px;
  }
}
@media (max-width: 1025px) and (min-width: 600px) {
  .activities {
    padding: 32px 30px 42px 30px;
  }
}
@media (max-width: 1205px) and (min-width: 1025px) {
  .activities {
    padding: 32px 30px 42px 30px;
  }
}

.activity {
  display: grid;
  column-gap: 40px;
  box-sizing: border-box;
}
@media (min-width: 1205px) {
  .activity {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 40px 42px 168px;
    height: 560px;
    width: 100%;
  }
  .activity .activity__card.card1 {
    grid-row: 1/5;
    grid-column: 1/2;
  }
  .activity .activity__card.card2 {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .activity .activity__card.card3 {
    grid-column: 3/4;
    grid-row: 1/5;
  }
  .activity .activity__card.card4 {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  .activity .activity__card.card5 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .activity .activity__card.card6 {
    grid-column: 4/5;
    grid-row: 3/5;
  }
}
@media (max-width: 1205px) {
  .activity {
    row-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 200px;
  }
}
@media (max-width: 1025px) {
  .activity {
    row-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 200px 200px;
  }
}
@media (max-width: 600px) {
  .activity {
    row-gap: 32px;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px 200px 200px 200px 200px;
  }
  .activity .activities {
    padding: 0 20px 50px;
  }
}

.activity__card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 0 20px #0000002e;
  transition-duration: 0.1s;
}
.activity__card:hover {
  transform: scale(1.01);
}
.activity__card__Img {
  position: relative;
  flex: 1;
}
.activity__card__img {
  position: absolute;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  height: 100%;
  width: 100%;
}
.activity__card__title {
  padding: 21px;
  margin: 0;
}

/*Footer*/
.footer__container {
  display: grid;
  background-color: #F2F2F2;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 8px;
  padding: 50px;
}

.footer {
  display: flex;
  flex-direction: column;
}
.footer__title {
  margin: 0;
}
.footer__link {
  cursor: pointer;
  margin: 0;
}
.footer__link:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .footer__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 42px 0 0 30px;
    row-gap: 32px;
  }

  .footer__title {
    margin-bottom: 0;
  }
  .footer__link {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
